<ion-header>
  <ion-navbar>
    <ion-title>
      QR Code Scanner
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text" [(ngModel)]="qrdata"></ion-input>
  </ion-item>
  <button ion-button full icon-left (click)="createcode()"><ion-icon name="barcode"></ion-icon>Create Code</button>
  <button ion-button full icon-left (click)="scancode()"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>value : {{createdCode}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="scannedcode">
    <ion-card-content>
      result from scanner : {{scannedcode}}
    </ion-card-content>
  </ion-card>
</ion-content>
